@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #02050A;
    @apply text-slate-300;
    font-family: 'Poppins', sans-serif !important;
    scroll-behavior: smooth;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply text-white font-bold tracking-tight;
  }
}

